[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inference-sdk = "*"
pillow = "*"
python-dotenv = "*"
openai-whisper = "*"
"pyannote.audio" = "*"
pydub = "*"
torchvision = "*"
pytz = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
