{% extends 'base.html' %}
{% load static %}

{% block title %}
    Clubs
{% endblock %}

{% block body %}
	<section id="clubs" class="section clearfix no-view secPadding" data-animation-effect="fadeIn">
		<div class="space"></div>

		<div class="container">
			<div class="col-md-12">

				<div class="row">
					<h1 class="title text-center"><a href="https://wildcardboxing.com/">Wild Card Boxing Club</a></h1>
					<hr>

					<div class="col-md-6">
						<img src="{% static 'images/clubs/wild-card-boxing.jpeg' %}">
					</div>

					<div class="col-md-6">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.141588182315!2d-118.32991392442202!3d34.09151311565607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf344271226b%3A0x13259eee126ee7a4!2sWild%20Card%20Boxing!5e0!3m2!1sen!2sae!4v1708706122321!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>

					<div class="col-md-6">

						<p><b>Head Coach: Freddie Roach</b></p>
						<p>
							<b>35+ World Champions</b>
							<ul>
								<li>Manny Pacquiao</li>
								<li>Miguel Cotto</li>
								<li>Amir Khan</li>
								<li>James Toney</li>
								<li>...</li>
							</ul>
						</p>
					</div>

					<div class="col-md-6">
						<p>
							<i class="fa fa-map-marker"></i> 
							<a href="https://www.google.com/maps/search/Wild+Card+Boxing/@34.0915131,-118.3299139,17z?entry=ttu">
								1123 Vine St # 14, Los Angeles, CA 90038, United States
							</a>
						</p>
						
						<p><i class="fa fa-phone"></i> <a href="tel:+13234614170">+1 323-461-4170</a></p>
						<p>Open from Monday to Saturday</p>

					</div>
				</div>
				
				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="https://www.houseofboxingsd.com/	">House of Boxing</a></h1>
					<hr>

					<div class="col-md-6">
						<img src="{% static 'images/clubs/house-of-boxing.webp' %}">
					</div>

					<div class="col-md-6">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3358.3618369112437!2d-117.0684234!3d32.6764224!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d95192f15a924f%3A0xa667694176a266d9!2sHouse%20of%20Boxing!5e0!3m2!1sen!2sae!4v1708706326098!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>

					<div class="col-md-6">

						<p><b>Head Coach: Eddy Reynoso</b></p>
						<p>
							<b>World Champions</b>
							<ul>
								<li>Santos Saúl "Canelo" Álvarez</li>
								<li>Ryan Garcia</li>
								<li>...</li>
							</ul>
						</p>
					</div>
					
					<div class="col-md-6">
						<p>
							<i class="fa fa-map-marker"></i> 
							<a href="https://www.google.com/maps/search/House+of+Boxing/@32.6764224,-117.0684234,17z?entry=ttu">
								2304 Reo Dr, San Diego, CA 92139, United States
							</a>
						</p>
						<p><i class="fa fa-phone"></i> <a href="tel:+16193995898">+1 619-399-5898</a></p>
						<p>Open from Monday to Saturday</p>

					</div>
				</div>

				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="https://www.mayweatherfit.ae/">Mayweather Boxing + Fitness, Dubai Creek Harbour</a></h1>
					<hr>

					<div class="col-md-6">
						<img src="{% static 'images/clubs/floyd-mayweather.webp' %}">
					</div>

					<div class="col-md-6">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59574.25524185948!2d55.27140302392107!3d25.20507924523119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f67637564f879%3A0x890367f8815e1b8!2sMayweather%20Boxing%20%2B%20Fitness%2C%20Dubai%20Creek%20Harbour!5e0!3m2!1sen!2sae!4v1723056619582!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="col-md-6">

						<p><b>Head Coach: Marko Mijaljevic</b></p>
						<p>
							<b>World Champions</b>
							<ul>
								<li>Floyd Mayweather</li>
								<li>...</li>
							</ul>
						</p>
					</div>
					
					<div class="col-md-6">
						<p>
							<i class="fa fa-map-marker"></i> 
							<a href="https://www.google.com/maps/search/House+of+Boxing/@32.6764224,-117.0684234,17z?entry=ttu">
								Creek Gate Tower 1, Dubai Creek Harbour, Dubai, United Arab Emirates
							</a>
						</p>
						<p><i class="fa fa-phone"></i> <a href="tel:+16193995898">+971 04-824-8217</a></p>
						<p>Open from Monday to Sunday</p>
					</div>

				</div>

				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="#">More to come</a></h1>
					<hr>

					<div class="col-md-6">
						<img src="{% static 'images/goat.jpeg' %}">
					</div>

					<div class="col-md-6">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.1682494964543!2d55.4197866752718!3d25.130002034419277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f63901fa5cbab%3A0x7e507138fd7d8318!2sBoxingHub!5e0!3m2!1sen!2sae!4v1708706429983!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>

					<div class="col-md-6">

						<p><b>Head Coach: ...</b></p>
						<p>
							<b>World Champions</b>
							<ul>
								<li>...</li>
								<li>...</li>
								<li>...</li>
							</ul>
						</p>
					</div>

					<div class="col-md-6">
						<p>
							<i class="fa fa-map-marker"></i> 
							<a href="#">
								...
							</a>
						</p>
						<p><i class="fa fa-phone"></i> <a href="tel:#">...</a></p>
						<p>...</p>
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}