<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
    <!-- Responsive design -->
    <meta charset="utf-8">
    <meta name="description" content="Everything about boxing">
    <meta name="author" content="hongbo-wei">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo-white-circle.png' %}" type="image/png" id="favicon" />

    <!-- Load css -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"> 
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/pyramid.css' %}" rel="stylesheet">

    <!-- inheritance  -->
    <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="no-trans">
    <!-- scrollToTop -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

    <!-- header start -->
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
            <!-- header-left start -->
            <div class="header-left">
                <!-- logo -->
                <div class="logo smooth-scroll">
                <a href="/"
                    ><img
                    id="logo"
                    src="{% static 'images/boxinghub-horizontal.png' %}"
                    alt="boxinghub logo"
                /></a>
                </div>
            </div>
            <!-- header-left end -->
            </div>
            <div class="col-md-8">
            <!-- header-right start -->
            <div class="header-right">
                <!-- main-navigation start -->
                <div class="main-navigation animated">
                <!-- navbar start -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                    <!-- Toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#navbar-collapse-1"
                        >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div
                        class="collapse navbar-collapse scrollspy smooth-scroll"
                        id="navbar-collapse-1"
                    >
                        <ul class="nav navbar-nav navbar-right">
                        <li class="{% if active == 'index' %}active{% endif %}"><a href="/">Home</a></li>

                        <li class="dropdown {% if active == 'knowledge' %}active{% endif %}">
                            <a>Knowledge Base</a>
                            <div class="dropdown-content">
                            <a href="{% url 'fundamentals' %}">Fundamentals</a>
                            <a href="{% url 'recovery' %}">Recovery</a>
                            <a href="{% url 'gears' %}">Gears</a>
                            <a href="{% url 'rules' %}">Rules</a>
                            </div>
                        </li>

                        <li class="dropdown {% if active == 'ai-boxing' %}active{% endif %}">
                            <a>AI & Boxing</a>
                            <div class="dropdown-content">
                            <a href="{% url 'accessibility' %}">Accessibility Tools</a>
                            </div>
                        </li>

                        <li class="dropdown {% if active == 'clubs & extra' %}active{% endif %}">
                            <a>Clubs & Extra</a>
                            <div class="dropdown-content">
                            <a href="{% url 'clubs' %}">Clubs</a>
                            <a href="{% url 'moments' %}">Moments</a>
                            </div>
                        </li>

                        <li><a href="{% url 'index' %}#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    </div>
                </nav>
                <!-- navbar end -->
                </div>
                <!-- main-navigation end -->
            </div>
            <!-- header-right end -->
            </div>
        </div>
        </div>
    </header>
    <!-- header end -->

    <!-- section start -->
    <main>
    {% block body %}{% endblock %}
    </main>
    <!-- section end -->

    <!-- footer start -->
    <footer id="footer">
        <!-- .footer start -->
        <div class="footer section">
        <div class="container">
            <h1 id="contact" class="title text-center">Contact</h1>
            <!-- <div class="space"></div> -->
            <div class="row">
            <div class="footer-content">
                <div class="widget-content">
                <p class="contacts">
                    <img
                    src="{% static 'images/full-logo-black-circle.png' %}"
                    />
                </p>
                <p class="contacts">
                    <i class="fa fa-map-marker"></i> Worldwide
                </p>
                <p class="contacts">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:boxinghub.org@gmail.com">
                    boxinghub.org@gmail.com
                    </a>
                </p>
                </div>

                <ul class="social-links">
                <li class="linkedin">
                    <a
                    target="_blank"
                    href="https://www.linkedin.com/in/hongbo-wei"
                    ><i class="fa fa-linkedin"></i
                    ></a>
                </li>
                <li class="twitter">
                    <a target="_blank" href="https://twitter.com/hongbo_wei"
                    ><i class="fa fa-twitter"></i
                    ></a>
                </li>
                <li class="github">
                    <a href="https://github.com/hongbo-wei"
                    ><i class="fa fa-github"></i
                    ></a>
                </li>
                <li class="instagram">
                    <a
                    target="_blank"
                    href="https://www.instagram.com/hongbo.thedragon.wei"
                    ><i class="fa fa-instagram"></i
                    ></a>
                </li>
                <li class="youtube">
                    <a target="_blank" href="https://www.youtube.com/@hongbo-wei"
                    ><i class="fa fa-youtube"></i
                    ></a>
                </li>
                </ul>
            </div>

            <div id="fun">
                <table class="vote">
                <tr>
                    <td>
                    <button id="add_like">
                        <i class="fa fa-thumbs-up blue-thumb"></i>
                    </button>
                    </td>
                    <td></td>
                    <td>
                    <button id="add_love">
                        <i class="fa fa-heart red-heart"></i>
                    </button>
                    </td>
                </tr>
                <tr>
                    <td id="score_like">{{ likes }}</td>
                    <td></td>
                    <td id="score_love">{{ loves }}</td>
                </tr>
                </table>
            </div>

            <div class="subfooter">
                <p class="text-center">
                Copyright © 2024 by
                <a target="_blank" href="https://hongbo-wei.github.io/">Hongbo</a>
                <div style="background-color: black; display: inline-block; border-radius: 6px;">
                    <iframe src="https://github.com/sponsors/hongbo-wei/button" title="Sponsor hongbo-wei" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
                </div>
                </p>
                <br />
                <a
                rel="license"
                href="http://creativecommons.org/licenses/by/4.0/"
                ><img
                    alt="Creative Commons Licence"
                    style="border-width: 0"
                    src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a
                ><br />This work is licensed under a
                <a
                rel="license"
                href="http://creativecommons.org/licenses/by/4.0/"
                >Creative Commons Attribution 4.0 International License</a
                >
            </div>
            </div>
        </div>
        </div>
        <!-- .footer end -->
    </footer>
    <!-- footer end -->

    <!-- JavaScript -->
    <script src="{% static 'plugins/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/modernizr.js' %}"></script>
    {% comment %} <script src="{% static 'plugins/jquery.backstretch.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'plugins/jquery.appear.js' %}"></script>
    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% comment %} <script src="{% static 'js/banner.js' %}"></script> {% endcomment %}

    {% comment %} To allow other templates to include additional scripts {% endcomment %}
    {% block extra_scripts %}{% endblock %}
    </body>
</html>

<!-- In memory of a legendary Chinese man - Bruce Lee 李小龍 -->