{% extends 'base.html' %}

{% block title %}
	Moments
{% endblock %}

{% block body %}
{% load static %}
	<section id="moments" class="section clearfix no-view secPadding" data-animation-effect="fadeIn">
		<div class="space"></div>

		<div class="container">
			<div class="col-md-12">

				<div class="row">
					<h1 class="title text-center"><a href="https://boxrec.com/en/box-pro/474">Mike Tyson</a></h1>
					<hr>

					<div class="col-md-12">
						<img src="{% static 'images/champions/Mike-Tyson.jpeg' %}">
					</div>

				</div>
				
				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="https://boxrec.com/en/box-pro/80">Roberto Durán</a></h1>
					<hr>

					<div class="col-md-12">
						<img src="{% static 'images/champions/Roberto-Durán-0.jpeg' %}">
					</div>

				</div>
				
				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="https://www.instagram.com/wbcmoro/?hl=en">Mauricio Sulaimán</a></h1>
					<hr>

					<div class="col-md-12">
						<img src="{% static 'images/champions/Mauricio-Sulaimán.jpeg' %}">
					</div>

				</div>
				
				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="https://www.instagram.com/robertwalker307/?hl=en">Bridger Walkern</a></h1>
					<hr>

					<div class="col-md-12">
						<img src="{% static 'images/champions/Bridger-Walker.jpeg' %}">
					</div>

				</div>
				
				<div class="space"></div>

				<div class="row">
					<h1 class="title text-center"><a href="#">More to come</a></h1>
					<hr>

					<div class="col-md-12">
						<img src="{% static 'images/goat.jpeg' %}">
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}